body{
    background: black;
    text-align: center;
    
}

h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bolder;
    padding-top: 150px;
}

h3{
    color: rgba(255, 255, 255, 0.884);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px; 
    font-weight: lighter;

}

.main-button{
    margin: 0px;
    padding: 5px 20px;
    font-weight: bold;
    
}

.image{
    background-image: url("https://images.unsplash.com/photo-1513031300226-c8fb12de9ade?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cGhvdG9ncmFwaGVyfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: cover;
    height: 500px;
    width: 830px;
   margin-left: 380px;
   margin-top: 150px;
   border: whitesmoke solid thin ;
   border-left: inherit;
   
}
